<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Data</title>
</head>
<body>
    <center>
        <!-- form action="/input/save_post" method="post" -->
        <form action="{{action}}" method="{{method}}" enctype="multipart/form-data">
            <input type="number" name="value"><br>
            <input type="text" name="message"><br>
            <input type="file" name="files" accept="image/png, image/jpeg"><br>
            <input type="submit">
        </form><br>
    </center>
</body>
</html>