<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/">
        <label>id</label>
        <input type="number" name="id"><br>
        <label>subject</label>
        <input type="text" name="subject"><br>
        <label>content</label>
        <input type="text" name="content"><br>
        <input type="submit">
    </form>
    <a href="/read">check Database</a>
</body>
</html>