/*태그명 선택자*/
p {background-color: green; font-size: 40px; border:3px dotted red; color: white}
        
/*아이디 선택자*/
#second_p {background-color: hotpink;}

/*클래스 속성 갑싱 동일한 부분에 적용*/
.para {background-color: cyan;}